.root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff !important;
    padding: 0 20px;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.logo {
    // background: linear-gradient(90deg, rgba(228,88,88,1) 0%, rgba(246,100,100,1) 35%, rgba(0,255,252,1) 100%);
    background: linear-gradient(90deg, rgba(37,36,36,1) 0%, rgba(126,120,120,1) 35%, rgba(199,201,201,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}


.penButton {
    display: flex;
    justify-content: space-between !important;
    width: 170px !important;
    height: 38px !important;
    min-width: 40px !important;
    text-transform: uppercase;
    font-size: 14px !important;
}

.searchBlock {
    position: relative;
    margin-right: 50px;
    width: 300px;
    cursor: pointer;
    svg {
        position: absolute;
        top: 8px;
        left: 10px;
        opacity: 0.3;
    }

    input {
        width: 100%;
        height: 38px;
        border: 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 16px;
        padding-left: 40px;
        transition: all 0.1s ease-in-out;
        border: 1px solid transparent;

        &:hover,
        &:focus {
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    margin-left: 15px;
}